@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom global styles or overrides */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.futuristic-card {
  @apply bg-gradient-to-br from-calipso-800 to-calipso-600 text-white shadow-xl rounded-xl p-6 transition-all duration-300 ease-in-out transform hover:scale-105;
}

.futuristic-input {
  @apply bg-calipso-900 border-2 border-calipso-500 rounded-lg p-3 text-calipso-100 placeholder-calipso-300 focus:outline-none focus:ring-2 focus:ring-calipso-300;
}

.futuristic-button {
  @apply bg-calipso-500 text-white py-3 px-6 rounded-lg text-lg font-semibold hover:bg-calipso-400 transition-all duration-300 ease-in-out shadow-md;
}

.futuristic-select {
  @apply bg-calipso-900 border-2 border-calipso-500 rounded-lg p-3 text-calipso-100 focus:outline-none focus:ring-2 focus:ring-calipso-300 appearance-none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none' stroke='%2380deea'%3e%3cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 1.5em auto, 100%;
}